<div class="toast-button" style="position: fixed; top: 10px; right: 10px;">
  <button><i class="fas fa-bars"></i></button>
  <div id="toast-menu" class="toast-menu hidden">
    <a href="/portfolio" style="display: block; padding: 10px;">Portfolio</a>
    <a href="/" style="display: block; padding: 10px;">Main Site</a>
    <a href="/blog" style="display: block; padding: 10px;">Blog</a>
    <a href="https://gravatar.com/nilleb" style="display: block; padding: 10px;">Contact</a>
  </div>
</div>

<script>
  document.addEventListener('htmx:afterSettle', function(evt) {
    const toastButton = document.querySelector('.toast-button button');
    const toastMenu = document.getElementById('toast-menu');
    if (toastButton && !toastButton.hasListener) {
      toastButton.hasListener = true;
      toastButton.addEventListener('click', () => {
        toastMenu.classList.toggle('hidden');
      });
    }
  });
</script> 