<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="canonical" href="https://nilleb.com/blog/" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css"
    integrity="sha384-PPIZEGYM1v8zp5Py7UjFb79S58UeqCL9pYVnVPURKEqvioPROaVAJKKLzvH2rDnI" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="./layout.css">
  <link rel="stylesheet" href="./blog.css">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="../js/i18n.js"></script>
  <script src="../js/theme.js"></script>
  <title>nilleb's blog</title>
</head>

<body>
  <nav style="padding: 10px;">
    <a href="/" style="text-decoration: underline; color: inherit;" data-i18n="main_site">nillebco</a> &gt;
    <span data-i18n="blog">blog</span>
    <a href="/feed.xml" style="margin-left: 10px;" title="RSS Feed"><i class="fas fa-rss"></i></a>
  </nav>

  <div hx-get="/components/language-toggle.html" hx-trigger="load"></div>
  <div hx-get="/components/theme-toggle.html" hx-trigger="load"></div>
  <div hx-get="/components/toast-menu.html" hx-trigger="load"></div>

  <div class="grid-2">
    <div class="section-2">
      <div class="page-icon"><span role="img" aria-label="🔬" class="page-icon">🔬</span>
      </div>
      <h2 data-i18n="blog">blog</h2>
      <ul id="blog-list" class="blog-list"></ul>
    </div>
  </div>
  <div hx-get="/components/blog-list.html" hx-trigger="load"></div>
  <div id="overlay" class="overlay">
    <div class="overlay-content">
      <span class="overlay-close">&times;</span>
      <div id="overlay-post-content"></div>
    </div>
  </div>
  <div hx-get="/components/copyright-notice.html" hx-trigger="load"></div>
  <script src="https://analytics.nilleb.com/simple.js?pid=43c65438-0a04-e5ae-c360-de67f02f62a1"></script>
</body>
</html>